.SearchInput {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
}

.SearchButton {
    background-color: #7986cb;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.SearchButton:hover {
    background-color: white;
    color: #7986cb;
}
