.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

.Menu a {
    color: #95bcf0;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.Menu a:hover,
.Menu a:active,
.Menu a.active {
    color: #282c34;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .Menu a {
        color: #95bcf0;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

    .Menu a:hover,
    .Menu a:active,
    .Menu a.active {
        color: #282c34;
    }
}