.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
    }
}