
.HomepageHeader {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.HomepageHeader a > img {
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.HomepageHeader a > img:hover {
    color: #61dafb;
    background-color: #90c3ff;
    border-radius: 5px;
}

.HomepageHeader h1, h2, h3, h4, h5, h6 {
    color: #282c34;
    margin: 5px;
    padding: 2px;
    font-style: normal;
    font-variant: all-small-caps;
    font-weight: lighter;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.HomepageMain {
    margin: 50px auto 40px auto;
    display: block;
    align-items: center;
    text-align: center;
}

.HomepageMain div > p {
    display: flex;
    justify-content: center;

}

.HomepageMain p {
    font-size: 20px;
}

.HomepageMain span {
    color: #282c34;
    background-color: #e4bfff;
    padding: 2px;
    border-radius: 5px;
}

.HomepageMain a {
    text-decoration: none;
}

.HomepageMain span:hover {
    background-color: #e6e7ff;
}

.HomepageMain hr {
    margin-top: 50px;
    width: 50%;
    border-bottom: 2px solid black;;
}

.Beer {
    width: 100px;
}
