.Homepage {
    margin: 50px;
}

.HomepageHeader h1, h2, h3, h4, h5, h6 {
    color: #282c34;
    margin: 5px;
    padding: 2px;
    font-style: normal;
    -webkit-font-feature-settings: "smcp", "c2sc";
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    font-weight: lighter;
    font-family: "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.HomepageHeader {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.HomepageHeader a > img {
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.HomepageHeader a > img:hover {
    color: #61dafb;
    background-color: #90c3ff;
    border-radius: 5px;
}

.HomepageMain {
    margin: 50px auto 40px;
    display: block;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.HomepageMain span {
    color: #282c34;
    background-color: #e4bfff;
    padding: 2px;
    border-radius: 5px;
}

.HomepageMain span:hover {
    background-color: #e6e7ff;
}

.HomepageMain a {
    text-decoration: none;
}

.HomepageMain hr {
    margin-top: 50px;
    width: 50%;
    border-bottom: 2px solid #000;
}

.Beer {
    width: 250px;
}