.Footer {
    height: 54px;
    background-color: #044599;
    width: 100%;
    text-align: center;
    align-items: baseline;
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid black;
}

.Footer a, span{
    margin: 2px auto;
    color: #95bcf0;
    text-decoration: none;
    padding: 0 0 0 3px;
}

.Footer a:hover,
.Footer a:active,
.Footer a.active {
    color: #282c34;
    cursor: pointer;
}
