.Agent {
    font-size: small;
    text-align: center;
}

.Agent td {
    border-bottom: 1px solid #282c34;
    padding: 20px;
    margin: 10px;
}

.AgentImage {
    padding: 5px 50px;
    margin: 10px auto;
}

.AgentImage img {
    width: 50px;
}

.AgentDate {
    color: dimgray;
}

.Icons a {
    color: #282c34;
}